ol, ul {
  list-style: none;
  padding-left: 0;
}
h4 {
  margin: 2px 0;
}

header {
  background-color: #2C3E50;
  color: #7F8C8D; /* Asbestos */
  width: 100%;
}

.main-header {
  width: 50%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
}

.by-me {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 12px;
  line-height: 100%;
}

.card {
  width: 100%;
}

.artist-header, .album-header {
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 8px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #2C3E50; /* Midnight Blue */
  color: #ECF0F1; /* Clouds */
}

.artist-header:hover {
  background-color: #34495E;
}

.album-header {
  background-color: #D35400; /* Pumpkin */
}

.album-header:hover {
  background-color: #E67E22; /* Carrot */
}


.half-page {
  width: 50%;
  margin-top: 5px;
  display: inline-block;
}

.form-control {
  margin-top: 2px;
}

#newartist, #newalbum, #newalbum-artist {
  width: 100%;
  margin: 2px 0;
  text-align: left;
}

.delete, .plus {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  position: relative;
  background-color: transparent;
}

.plus { /* move inside dropdown */
  position: relative;
  left: 395px;
  top: 3px;
  color: #27AE60;
}

.plus:hover {
  background-color: #27AE60;
}

.delete:hover {
  background-color: #ECF0F1;
  color: #D35400;
}

.glyphicon-plus:before, .glyphicon-remove:before {
  position: absolute;
  top: 7px;
  left: 9px;
}

.float-right {
  float: right;
}
.our-artists, .their-albums {
  width: 50%;
  text-align: left;
  padding-left: 10px;
  height: 90px;
  line-height: 90px;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
}

.their-albums {
  color: #D35400; /* Pumpkin */
}

.desc {
  margin-top: 3px;
  padding-left: 10px;
  max-height: 500px;
  overflow: hidden;
  -moz-transition: max-height .6s ease-in-out;
  -webkit-transition: max-height .6s ease-in-out;
  transition: max-height .6s ease-in-out;
}

.desc.hideme {
  max-height: 0;
}

.dropdown {
  width: 70%;
}

.inner-list {
  padding-left: 2px;
}

.inner-list li:last-child {
  color: #27AE60;
  color: #7F8C8D; /* Asbestos */
}

@media (max-width: 1199px) {
  .plus {
    left: 290px;
  }
}

@media (max-width: 991px) {
  .plus {
    left: 180px;
  }
}
