ol, ul {
  list-style: none;
  padding-left: 0;
}

h4 {
  margin: 2px 0;
}

.card {
  width: 100%;
}

.artist-header, .album-header {
  margin-top: 10px;
  margin-bottom: 0;
  padding-right: 8px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #2C3E50; /* Midnight Blue */
  color: #ECF0F1; /* Clouds */
}

.artist-header:hover, .album-header:hover {
  background-color: #34495E;
}

#artists, #albums {
  width: 50%;
  margin-top: 5px;
  display: inline-block;
}

.form-control {
  margin-top: 2px;
}

#newartist, #newalbum, #newalbum-artist {
  width: 100%;
  margin: 2px 0;
  text-align: left;
}

.delete, .plus {
  width: 32px;
  height: 32px;
  margin-top: 4px;
}

.plus { /* move inside dropdown */
  position: relative;
  left: 395px;
  top: 3px;
  background-color: #27AE60;
}

.float-right {
  float: right;
}
.our-artists, .their-albums {
  width: 50%;
  text-align: left;
  padding-left: 10px;
  height: 90px;
  line-height: 90px;
  font-size: 50px;
}

.desc {
  margin-top: 3px;
  padding-left: 10px;
  max-height: 500px;
  overflow: hidden;
  -moz-transition: max-height .6s ease-in-out;
  -webkit-transition: max-height .6s ease-in-out;
  transition: max-height .6s ease-in-out;
}

.desc.hideme {
  max-height: 0;
}

.dropdown {
  width: 70%;
}

.inner-list {
  padding-left: 2px;
}

.inner-list li:last-child {
  color: #27AE60;
}

@media (max-width: 1199px) {
  .plus {
    left: 290px;
  }
}

@media (max-width: 991px) {
  .plus {
    left: 180px;
  }
}
